* {
    box-sizing: border-box;
    font-family: "Arial" sans-serif;
}

body {
    margin: 0;
}

.title {
    text-align: center;
}

.film {
    display: flex;
    grid-gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 16px;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, .16);
    width: 100%;
    max-width: 500px;
}

.film-name {
    font-size: 18px;
    font-weight: 700;
}
